name: CI with contracts run through command line

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        node-version: [20.x]
        os: [ubuntu-latest]
        # Node 18.x needs for ipv6 entry modification in hosts file and how do it on widnows is not clear
        # due to permissions required etc
    runs-on: ${{ matrix.os }}
    steps:
      # Node 18 does resolves localhost to ipv6 address by default but refuses any connection to it
      # Fix this by changing DNS entries in /etc/hosts file to resolve localhost to ipv4 address
      # https://stackoverflow.com/questions/72648487/node-js-16-17-changed-resolution-of-localhost
      - run: ${{ !startsWith(matrix.os, 'ubuntu') }} || sudo sed -i '/localhost/c\127.0.0.1 localhost' /etc/hosts
      - run: ${{ !startsWith(matrix.os, 'macos') }} || sudo sed -i '' -e 's/.*localhost.*/127.0.0.1 localhost/g' /etc/hosts
      
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      
      - name: Set up JRE 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
          java-package: 'jre'
      
      - name: Use Node.js 18/x
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: npm install
        run: npm ci
      
      - name: Run UI Component Test
        run: npm test -- --watchAll=false

      - name: Save Specmatic license
        run: |
          mkdir -p ~/.specmatic
          echo "${{ secrets.SPECMATIC_LICENSE_KEY }}" > ~/.specmatic/specmatic-license.txt

      - name: Run Specmatic Insights Build Reporter
        run: |
          docker run \
            -v ${{ github.workspace }}:/usr/src/app \
            -v ~/.specmatic:/root/.specmatic \
            specmatic/specmatic \
            send-report \
            --metadata build_url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} \
            --branch-name ${{ github.ref_name }} \
            --repo-name ${{ github.event.repository.name }} \
            --repo-id ${{ github.repository_id }} \
            --repo-url ${{ github.event.repository.html_url }}
